<body class="fixed-left">
<div id="wrapper">
    <div class="topbar">

        <div class="topbar-left">
            <div class="text-center">
                <a href="#" class="logo"><i class="mdi mdi-apps"></i> <span></span></a>
            </div>
        </div>
    </div>

    <div class="content-page">
        <div class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="page-title-box">
                            <h4 class="page-title"> Bienvenido </h4>
                            &nbs
                            {% if app.user is defined or app.user is not null %}
                                 {{ app.user.nombres }}  {{ app.user.apellidos }}
                            {% else %}

                            {% endif %}

                            <ol class="breadcrumb float-right">
                                <li class="breadcrumb-item"><a href="#">Menú</a></li>
                                <li class="breadcrumb-item active">Opciones</li>
                            </ol>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</div>
<body class="fixed-left">
<div id="wrapper">
    <div class="topbar">
        <div class="topbar-left">
            <div class="text-center">
                <a href="#" class="logo">
                    <span><img src="{{ asset ('/neon/public/minton/images/LogoGrisClarox100.png') }}" height="65"></span>
                </a>
            </div>
        </div>
        <nav class="navbar-custom">
            <ul class="list-inline float-right mb-0">
                <li class="list-inline-item notification-list hide-phone">
                    <a class="nav-link waves-light waves-effect" href="#" id="btn-fullscreen">
                        <i class="mdi mdi-crop-free noti-icon"></i>
                    </a>
                </li>
                <li class="list-inline-item notification-list">
                    <a class="nav-link right-bar-toggle waves-light waves-effect" href="#">
                        <i class="mdi mdi-dots-horizontal noti-icon"></i>
                    </a>
                </li>
                <li class="list-inline-item dropdown notification-list">
                    {% if app.user %}
                        <a href="{{ logout_path('main') }}"><i class="ti-power-off m-r-5"></i> Salir</a>
                    {% else %}
                        <a href="{{ path('acceso') }}"><i class="ti-power-off m-r-5"></i> Ingresar</a>
                    {% endif %}
                </li>
            </ul>
            <ul class="list-inline menu-left mb-0">
                <li class="float-left">
                    <button class="button-menu-mobile open-left waves-light waves-effect">
                        <i class="mdi mdi-menu"></i>
                    </button>
                </li>
                <li class="hide-phone app-search">
                    <form role="search" class="">
                        <input type="text" placeholder="Buscar" class="form-control">
                        <a href="#"><i class="fa fa-search"></i></a>
                    </form>
                </li>
            </ul>
        </nav>
    </div>
    <div class="left side-menu">
        <div class="sidebar-inner slimscrollleft">
            <div id="sidebar-menu">
                <ul>
                    <li class="menu-title">Menú</li>
                    <li class="has_sub">
                        <a href="javascript:void(0);" class="waves-effect -menu-alt"><i
                                    class="ti-menu-alt"></i><span> Actividades </span> <span class="menu-arrow"></span> </a>
                        <ul class="list-unstyled">
                            <li><a href="#"></a></li>
                        </ul>
                    </li>
                    </li>
                    <li class="has_sub">
                        <a href="javascript:void(0);" class="waves-effect waves-primary"><i
                                    class="ti-light-bulb"></i><span> Puntos </span> <span class="menu-arrow"></span> </a>
                        <ul class="list-unstyled">
                            <li><a href="#"></a></li>
                        </ul>
                    </li>
                    <li class="has_sub">
                        <a href="javascript:void(0);" class="waves-effect waves-primary"><i
                                    class="ti-user"></i><span> Usuarios </span> <span class="menu-arrow"></span> </a>
                        <ul class="list-unstyled">
                            <li><a href={{ path('usuario') }}>Nuevo</a></li>
                        </ul>
                    </li>
                    <li class="has_sub">
                        <a href="javascript:void(0);" class="waves-effect waves-primary"><i
                                    class="ti-location-pin"></i><span> Ubicación </span><span class="menu-arrow"></span></a>
                        <ul class="list-unstyled">
                            <li><a href="map-google.html"> Google Map</a></li>
                        </ul>
                    </li>
                    <li class="has_sub">
                        <a href="javascript:void(0);" class="waves-effect waves-primary"><i
                                    class="ti-layers-alt"></i><span> Reportes </span> <span class="menu-arrow"></span> </a>
                        <ul class="list-unstyled">
                            <li><a href="components-grid.html">Grid</a></li>
                        </ul>
                    </li>
                </ul>
                <div class="clearfix"></div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
    <div class="content-page">
        </div>
        <footer class="footer">
            2018 © Soportado por: <a href="http://appsoga.com" target="_blank">AppSoga</a> | <img src="{{ asset('/neon/public/minton/images/Logox100.png') }}" style="height: 50px;"/>
        </footer>
    </div>
    <div class="side-bar right-bar">
        <div class="">
            <ul class="nav nav-tabs tabs-bordered nav-justified">
                <li class="nav-item">
                    <a href="#home-2" class="nav-link active" data-toggle="tab" aria-expanded="false">
                        Campos básicos
                    </a>
                </li>
                <li class="nav-item">
                    <a href="#messages-2" class="nav-link" data-toggle="tab" aria-expanded="true">
                        Campos avanzados
                    </a>
                </li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane fade show active" id="home-2">
                    <div class="timeline-2">
                        <div class="time-item">
                            <div class="item-info">
                                <small class="text-muted">campos</small>
                                <p><strong><a href="#" class="text-info">
                                        </a></strong> <strong></strong></p>
                            </div>
                        </div>
                        <div class="time-item">
                            <div class="item-info">
                                <small class="text-muted">campos</small>
                                <p><a href="#" class="text-info"></a></p>
                                <p><em></em></p>
                            </div>
                        </div>
                        <div class="time-item">
                            <div class="item-info">
                                <small class="text-muted"></small>
                                <p><a href="#" class="text-info"></a> <a href="#" class="text-success"></a>.</p>
                                <p><em></em></p>
                            </div>
                        </div>
                        <div class="time-item">
                            <div class="item-info">
                                <small class="text-muted"></small>
                                <p><strong><a href="#" class="text-info"></a></strong></p>
                            </div>
                        </div>
                        <div class="time-item">
                            <div class="item-info">
                                <small class="text-muted"></small>
                                <p><a href="#" class="text-info"></a> </p>
                                <p><em></em></p>
                            </div>
                        </div>
                        <div class="time-item">
                            <div class="item-info">
                                <small class="text-muted"></small>
                                <p><a href="#" class="text-info"></a> <a href="#" class="text-success"></a>.</p>
                                <p><em></em></p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane" id="messages-2">
                    <div class="row m-t-20">
                        <div class="col-8">
                            <h5 class="m-0 font-15">campos</h5>
                            <p class="m-b-0 text-muted"><small></small></p>
                        </div>
                        <div class="col-4 text-right">
                            <input type="checkbox" checked data-plugin="switchery" data-color="#3bafda" data-size="small"/>
                        </div>
                    </div>
                    <div class="row m-t-20">
                        <div class="col-8">
                            <h5 class="m-0 font-15">campos</h5>
                            <p class="m-b-0 text-muted"><small></small></p>
                        </div>
                        <div class="col-4 text-right">
                            <input type="checkbox" checked data-plugin="switchery" data-color="#3bafda" data-size="small"/>
                        </div>
                    </div>
                    <div class="row m-t-20">
                        <div class="col-8">
                            <h5 class="m-0 font-15">campos</h5>
                            <p class="m-b-0 text-muted"><small></small></p>
                        </div>
                        <div class="col-4 text-right">
                            <input type="checkbox" checked data-plugin="switchery" data-color="#3bafda" data-size="small"/>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
