{% extends 'base.html.twig' %}
{% block bodyAtt %}class="fixed-left"{% endblock %}
{% block body %}
    <div id="wrapper">
        {{ include('bloquesGenerales/menuEncabezado.html.twig') }}
        {{ include('bloquesGenerales/menuIzquierdo.html.twig') }}
        <div class="content-page">
            <div class="content">
                <div class="container">
                    {% block content %}
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="page-title-box">
                                    {#<a href="{{ path('crear_sede') }}">#}
                                        {#<button class="btn btn-success btn-bordered waves-effect waves-light" style="float: right;"><span class="mdi mdi-plus"></span> Nuevo</button>#}
                                    {#</a>#}
                                    <div class="clearfix"></div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="card-box">
                                    <h4 class="header-title m-t-0 m-b-30"> Listado de usuarios</h4>
                                    <div class="table-responsive">
                                        <table class="table table table-hover m-0">
                                            <thead>
                                            <tr>
                                                <th>Nombre Usuario</th>
                                                <th>Nombres</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            {% for sede in  pager.currentPageResults %}
                                                <tr>
                                                    <td>
                                                        {{ sede.codigoSedePk }}
                                                    </td>
                                                    <td>
                                                        {{ sede.nombre}}
                                                    </td>
                                                    <td>{{ sede.direccion }}</td>
                                                    <td>{{ sede.telefono }}</td>

                                                    <td>
                                                </tr>
                                            {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endblock content %}
                </div>
            </div>
        </div>
        {{ include('bloquesGenerales/pie.html.twig') }}
    </div>
{% endblock %}