{% extends 'base.html.twig' %}
{% block bodyAtt %}class="fixed-left"{% endblock %}
{% block body %}
    {% block content %}
        <div class="row">
            <div class="col-sm-12">
                <div class="page-title-box">
                    <h4 class="page-title">Clientes</h4>
                    <ol class="breadcrumb float-right">
                        <li class="breadcrumb-item"><a href="#">Inicio</a></li>
                        <li class="breadcrumb-item active">Clientes</li>
                    </ol>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
      <div class="col-md-12">
         <div class="card-box">
               <div class="col-md-3 col-md-push-3">
                   <div class="btn-group" role="group" aria-label="Basic example">
                       <a href="{{ path("crear_cliente") }}" class="btn btn-primary"> Nuevo </a>
                   </div>
                   <div class="btn-group">
                       <div class="dropdown show">
                           <a class="btn btn-primary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                               Exportar
                           </a>
                           <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                               <a class="dropdown-item" href="#">PDF</a>
                               <a class="dropdown-item" href="#">Excel</a>
                           </div>
                       </div>
                   </div>
              </div>
          </div>
      </div>
        {{ form_start(form) }}
        <div class="row">
            <div class="col-md-12">
                <div class="card-box">
                    <div class="row justify-content-end">
                        <div class="col-md-3 col-md-push-3">
                            <div class="form-group">
                                {{ form_widget(form.TxtNombre, { 'attr': {'class': 'form-control'} }) }}
                            </div>
                        </div>
                    </div>
                    <div class="row justify-content-end">
                        <div class="col-1 text-right">
                            <div class="form-group">
                                {{ form_widget(form.BtnFiltrar, {attr: {class: 'btn btn-primary'}}) }}
                            </div>
                        </div>
                    </div>
                    <div class="table-responsive">
                        <table class="table table-sm table-hover m-0">
                            <thead>
                            <tr>
                                <th>Consecutivo</th>
                                <th>Nit</th>
                                <th>Nombre</th>
                                <th>Email</th>
                                <th>Acciones</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for clientes in pager.currentPageResults %}
                                <tr>
                                    <td>{{ clientes.codigoClientePk }}</td>
                                    <td>
                                        {{ clientes.nit }}
                                    </td>
                                    <td>
                                        {{ clientes.nombre }}
                                    </td>
                                    <td>{{ clientes.email }}</td>
                                    <td style="text-align: center"><a href="{{ path('editar_cliente', { 'codigoCliente':  clientes.codigoClientePk}) }}" ><img src=" " title="Editar cliente" width=20 height=20 title="Editar cliente"></a></td>
                                    <td style="text-align: center"><a href="{{ path('ver_cliente_puntos', { 'codigoCliente': Clientes.codigoClientePk }) }}"><img src=" " width=22 height=22 title="Ver Puntos"></a></td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        {{ form_end(form) }}
        {% if pager.haveToPaginate %}
            <div class="pagerfanta">
                {{ pagerfanta(pager) }}
            </div>
        {% endif %}
    {% endblock content %}
    </div>
{% endblock %}