{% extends 'base.html.twig' %}
{% block bodyAtt %}class="fixed-left"{% endblock %}
{% block body %}
       {{ include('bloquesGenerales/menuEncabezado.html.twig') }}
       {{ include('bloquesGenerales/menuIzquierdo.html.twig') }}
                    {% block content %}
                        <div class="count">
                            {{ arCliente2.Count }}
                        </div>
                        <table>
                            <tr>
                                <th>{{ knp_pagination_sortable(arCliente2, 'Id', 'a.id') }}</th>
                                <th{% if arCliente2.isSorted('a.Title') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(arCliente2, 'Title', 'a.title') }}</th>
                                <th>{{ knp_pagination_sortable(arCliente2, 'Release', ['a.date', 'a.time']) }}</th>
                            </tr>
                            {% for cliente in arCliente2 %}
                                <tr {% if loop.index is odd %}class="color"{% endif %}>
                                    <td>{{ cliente.codigoClientePk }}</td>
                                    <td>{{ cliente.nombre}}</td>
                                </tr>
                            {% endfor %}
                        </table>
                        <div class="navigation">
                            {{ knp_pagination_render(arCliente2) }}
                        </div>
        {% endblock content %}
        {{ include('bloquesGenerales/pie.html.twig') }}
    </div>
{% endblock %}