<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>
        {% if app.user is defined or app.user is not null %}
        {% else %}
            {% block title %}Neón{% endblock %}
        {% endif %}
    </title>
    <link rel="icon" href="/neon/public/minton/images/Logox100.png" type="image/x-icon" />
    {% block stylesheets %}
        <link href="{{ asset('/neon/public/minton/plugins/switchery.min.css') }}" rel="stylesheet" />
        <link href="{{ asset('/neon/public/minton/light/assets/css/bootstrap.min.css') }}" rel="stylesheet" type="text/css">
        <link href="{{ asset('/neon/public/minton/light/assets/css/icons.css') }}" rel="stylesheet" type="text/css">
        <link href="{{ asset('/neon/public/minton/light/assets/css/style.css') }}" rel="stylesheet" type="text/css">
        <link href="{{ asset('/neon/public/minton/css/generales.css') }}" rel="stylesheet" type="text/css">
    {% endblock %}
</head>
<body class="fixed-left">
<div id="wrapper">
    {{ include('bloquesGenerales/encabezado.html.twig') }}
    {{ include('bloquesGenerales/menuIzquierdo.html.twig') }}
    <div class="content-page">
        <div class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="page-title-box">
                            <h4 class="page-title"> Bienvenido </h4>
                            &nbsp;
                            {% if app.user is defined or app.user is not null %}
                                {{ "Hola ¿como estás?" }}
                            {% else %}
                                {{ "No hay usuario" }}
                            {% endif %}
                            <ol class="breadcrumb float-right">
                                <li class="breadcrumb-item"><a href="#">Menú</a></li>
                                <li class="breadcrumb-item active">Opciones</li>
                            </ol>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        {% block content %}{% endblock %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    {{ include('bloquesGenerales/menuDerecho.html.twig') }}
    {{ include('bloquesGenerales/pie.html.twig') }}
</div>
{% block javascripts %}
    <script>
        var resizefunc = [];
    </script>
    <script src="{{ asset('/neon/public/minton/light/assets/js/jquery.min.js') }}"></script>
    <script src="{{ asset('/neon/public/minton/light/assets/js/popper.min.js') }}"></script>
    <script src="{{ asset('/neon/public/minton/light/assets/js/bootstrap.min.js') }}"></script>
    <script src="{{ asset('/neon/public/minton/light/assets/js/detect.js') }}"></script>
    <script src="{{ asset('/neon/public/minton/light/assets/js/fastclick.js') }}"></script>
    <script src="{{ asset('/neon/public/minton/light/assets/js/jquery.slimscroll.js') }}"></script>
    <script src="{{ asset('/neon/public/minton/light/assets/js/jquery.blockUI.js') }}"></script>
    <script src="{{ asset('/neon/public/minton/light/assets/js/waves.js') }}"></script>
    <script src="{{ asset('/neon/public/minton/light/assets/js/wow.min.js') }}"></script>
    <script src="{{ asset('/neon/public/minton/light/assets/js/jquery.nicescroll.js') }}"></script>
    <script src="{{ asset('/neon/public/minton/light/assets/js/jquery.scrollTo.min.js') }}"></script>
    <script src="{{ asset('/neon/public/minton/plugins/switchery/switchery.min.js') }}"></script>
    <script src="{{ asset('/neon/public/minton/light/assets/js/jquery.core.js') }}"></script>
    <script src="{{ asset('/neon/public/minton/light/assets/js/jquery.app.js') }}"></script>
{% endblock %}
</body>
</html>